@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: center;
    background: transparent;
    overflow: hidden;
    border-style: hidden;
}

table {
    margin: 80px auto;
    text-align: left;
    background-color: white;
    color: rgb(87, 87, 87);
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 15px 2px rgba(204,204,204,0.6);
    -moz-box-shadow: 0px 1px 15px 2px rgba(204,204,204,0.6);
    box-shadow: 0px 1px 15px 2px rgba(204,204,204,0.6);
    border-spacing: 0;
    border-collapse: collapse;
    cellspacing: 0;
}

thead tr {
    height: auto;
    color: white;
    background-color: rgba(111, 89, 192, 0.85);
}

th {
    padding: 20px 0;
    font-weight: normal;
}

th:first-child {
    padding: 20px 50px;
}

tr {
    min-height: 160px;
}

tr:nth-child(even) {
    background-color: rgba(243, 243, 243, 0.3);
}

td, th {
    min-width: 160px;
    padding: 0;
}

td:first-child {
    padding: 20px 50px;
}

img {
    border-radius: 2px;
}

input {
    padding: 5px;
    border: none;
    background-color: white;
}

.fa-times-circle {
    cursor: pointer;
    font-size: 26px;
    transition: all .2s ease-in-out;
    width: 26px;
    line-height: 26px;
    padding: 10px;
    color: rgb(111, 89, 192);
}

.fa-times-circle:hover {
    transform: rotate(180deg);
    color: rgba(226, 64, 64, 0.8);
}

.checkButton {
    position: relative;
    top: 50%;
    left: 0;
}

input[type="checkbox"] {
    position: relative;
    width: 46px;
    height: 25px;
    appearance: none;
    -webkit-appearance: none;
    background-color: rgb(111, 89, 192);
    outline: none;
    border-radius: 20px;
    transition: .5s;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    cursor: pointer;
}

input:checked[type="checkbox"] {
    background-color: rgb(66, 190, 93);
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 2px;
    left: 3px;
    background-color: white;
    transition: all .5s;
}

input:checked[type="checkbox"]:before {
    left: 23px;
}

.red {
    background: rgba(255, 39, 39, 0.2)!important;
    transition: all .4s;
}

.delete-button {
    background-color: transparent;
    border: none;
    outline: none;
}

.delete {
    transition: all .4s;
}